/* 
body{
    margin: 0px;
    background-color:linear-gradient(135deg,#0396FF 10%,  #ABDCFF 150%);
} */
.header{
    /* background-color: linear-gradient( 135deg,#0396FF 10%,  #ABDCFF 150%);   */
    background-color:#0396FF;  
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_img {
    width: 180px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu{
    margin-right: 70px;
}
.header__menu--profile{
    margin-right: 8px;
    width: 40px;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
}
/* h1{
    color: white;
    font-family: 'STIX Two Text', serif;
    /* align-items:flex-start; */
    /* display:block; */
    /* margin-right: 1000px; */
    /* height: 0em; */
    /* align-items: center; */
/* } */

.header__menu--profile p{
    margin: 0px;
    color:white;
}
.main{
   height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__title {
    color: white;
    font-size: 25px;
}
.input{
    background-color: rgba(255, 255,255, 0.1);
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
    border: 2px solid #FFF;
    border-radius: 25px;
    width: 45vw;
    height: 2em;
    font-size: 20px;
    padding: 0px 15px;
    color: #FFF
}

::placeholder{
    color: white;
}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}
.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover{
    text-decoration: underline;
}

body {
    margin: 0px;
    background-color:#0396FF;
    font-family: 'Mulish', sans-serif;
  }

.texto-lado{
    position:absolute;
    top: 20px;
    left: 16%;

}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}
.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carousel-item {
    background-color:paleturquoise;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carousel-item:hover ~ .carousel-item:hover{
    transform: translate(100px, 0, 0);
}
.carousel__container:hover .carousel-item:hover{
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}
.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carousel-item__img__details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9)0%, rgba(0, 0, 0, 0)100%);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 5px 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.carousel-item__details--title, .carousel-item__details--subtitle  {
    color: #ffffff;
}
.carousel-item__details img{
    height: 15px;
}
.carousel-item__details p{
        margin: 0px;
    }

.carousel-item__details:hover {
        opacity: 1;
        color: white;


    }


h1{
    color:white;
}